{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "singleQuote": true,
  "arrowParens": "always",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf",
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "semi": false
}
