{
  "extends": ["stylelint-config-standard", "stylelint-config-standard-scss", "stylelint-config-clean-order/error"],
  "plugins": ["stylelint-order", "stylelint-prettier"],
  "rules": {
    "prettier/prettier": true,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["apply"]
      }
    ],
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["/^view-transition/"]
      }
    ],
    "unit-no-unknown": [
      true,
      {
        "ignoreUnits": ["rpx"]
      }
    ],
    "declaration-block-single-line-max-declarations": null,
    "custom-property-pattern": ["^([a-zA-Z][a-zA-Z0-9]*)(-[a-zA-Z0-9]+)*$", {
      "message": "Expected custom property name to be kebab-case or KEBAB-CASE"
    }],
    "selector-class-pattern": null,
    "no-descending-specificity": null,
    "number-max-precision": null,
    "no-duplicate-selectors": null,
    "no-empty-source": null,
    "block-no-empty": true,
    "color-no-invalid-hex": true,
    "named-grid-areas-no-invalid": true,
    "rule-empty-line-before": [
      "always",
      {
        "ignore": ["after-comment", "first-nested"]
      }
    ]
  },
  "ignoreFiles": ["**/*.js", "**/*.jsx", "**/*.tsx", "**/*.ts", "**/*.json"],
  "overrides": [
    {
      "files": ["**/*.{vue,html}"],
      "customSyntax": "postcss-html"
    }
  ]
}
