:root {
  --rp-c-brand: #ec9e37;
  --rp-c-brand-dark: #fba100;
  --rp-c-brand-darker: #ff7d00;
  --rp-c-brand-light: #ffac57;
  --rp-c-brand-lighter: #ffbd7a;
  --rp-radius: 6px;
  --rp-radius-large: 10px;
  --rp-home-hero-name-background: linear-gradient(120deg, var(--rp-c-brand) 30%, #e56a11);
}
