* {
  scroll-behavior: smooth;
}

:root {
  --rp-c-brand: #ec9e37;
  --rp-c-brand-dark: #fba100;
  --rp-c-brand-darker: #ff7d00;
  --rp-c-brand-light: #ffac57;
  --rp-c-brand-lighter: #ffbd7a;
  --rp-radius: 6px;
  --rp-radius-large: 10px;
  --rp-home-hero-name-background: linear-gradient(120deg, var(--rp-c-brand) 30%, #e56a11);
}

.mask_c867a {
  background-image: conic-gradient(
    from 180deg at 50% 50%,
    var(--rp-c-brand) 0deg,
    180deg,
    var(--rp-c-brand-darker) 1turn
  );
  opacity: 0.1;
  top: 0;
  z-index: 1;
}

.rspress-home-hero-image {
  width: 240px;
  height: 240px;
  z-index: 2;
}

.rspress-nav {
  box-shadow: 0 0 10px rgba(144, 147, 153, 0.2);
  backdrop-filter: saturate(50%) blur(4px);
  background-color: transparent;
  background-image: radial-gradient(transparent 1px, white 1px);
  background-size: 4px 4px;
}

.rspress-sidebar > div > div:first-child {
  visibility: hidden;
}
